
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

    <link rel="stylesheet" href="~/TemplateMain/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/TemplateMain/css/animate.css">
    <link rel="stylesheet" href="~/TemplateMain/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/TemplateMain/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/TemplateMain/css/magnific-popup.css">
    <link rel="stylesheet" href="~/TemplateMain/css/aos.css">
    <link rel="stylesheet" href="~/TemplateMain/css/ionicons.min.css">
    <link rel="stylesheet" href="~/TemplateMain/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/TemplateMain/css/jquery.timepicker.css">

    <link rel="stylesheet" href="~/TemplateMain/css/flaticon.css">
    <link rel="stylesheet" href="~/TemplateMain/css/icomoon.css">
    <link rel="stylesheet" href="~/TemplateMain/css/style.css">


    
</head>

<body class="goto-here">
    <div class="py-1 bg-black">
        <div class="container">
            <div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
                <div class="col-lg-12 d-block">
                    <div class="row d-flex">
                        <div class="col-md pr-4 d-flex topper align-items-center">
                            <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
                            <span class="text">070.222.6541</span>
                        </div>
                        <div class="col-md pr-4 d-flex topper align-items-center">
                            <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
                            <span class="text">Thang Boutique</span>
                        </div>
                        <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right">
                            <span class="text">Làm việc từ thứ 2 - thứ 7 (8:00 - 22:00)</span>
                        </div>
                    </div>
                </div>
            </div>
          </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
          <img src="/Uploads/logo-den.png" alt="Logo của trang web" width=250px height=100% style="margin-top:10px">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
          </button>
          <div class="collapse navbar-collapse" id="ftco-nav">
                 @Html.Partial("~/Views/Menu/MenuTop.cshtml")
           </div>
      </nav>
    <!-- END nav -->

    @RenderBody()

    <section class="ftco-gallery">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 heading-section text-center mb-4 ftco-animate">
            <h2 class="mb-4">Theo dõi chúng tôi trên Instagram</h2>
            <p>Khám phá thế giới thời trang đầy sắc màu và phong cách tại cửa hàng của chúng tôi trên Instagram! Theo dõi chúng tôi để cập nhật những xu hướng mới nhất, bộ sưu tập đa dạng và những bức ảnh thú vị về thời trang hàng ngày.</p>
          </div>
            </div>
        </div>
        <div class="container-fluid px-0">
            <div class="row no-gutters">
                <div class="col-md-4 col-lg-2 ftco-animate">
                    <a href="~/TemplateMain/images/gallery-1.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(/TemplateMain/images/gallery-1.jpg);">
                        <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram"></span>
                    </div>
                    </a>
                </div>
                <div class="col-md-4 col-lg-2 ftco-animate">
                    <a href="~/TemplateMain/images/gallery-2.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(/TemplateMain/images/gallery-2.jpg);">
                        <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram"></span>
                    </div>
                    </a>
                </div>
                <div class="col-md-4 col-lg-2 ftco-animate">
                    <a href="~/TemplateMain/images/gallery-3.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(/TemplateMain/images/gallery-3.jpg);">
                        <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram"></span>
                    </div>
                    </a>
                </div>
                <div class="col-md-4 col-lg-2 ftco-animate">
                    <a href="~/TemplateMain/images/gallery-4.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(/TemplateMain/images/gallery-4.jpg);">
                        <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram"></span>
                    </div>
                    </a>
                </div>
                <div class="col-md-4 col-lg-2 ftco-animate">
                    <a href="~/TemplateMain/images/gallery-5.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(/TemplateMain/images/gallery-5.jpg);">
                        <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram"></span>
                    </div>
                    </a>
                </div>
                <div class="col-md-4 col-lg-2 ftco-animate">
                    <a href="~/TemplateMain/images/gallery-6.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(/TemplateMain/images/gallery-6.jpg);">
                        <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-instagram"></span>
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <footer class="ftco-footer ftco-section">
      <div class="container">
          <div class="row">
              <div class="mouse">
                <a href="#" class="mouse-icon">
                    <div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
                </a>
            </div>
          </div>
        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <img src="/Uploads/logo-trang.png" alt="Logo của trang web" width=250px height=100% style="margin-top:10px">
              <p>Phong cách độc đáo - Sự tinh tế trong từng chi tiết</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-5">
              <h2 class="ftco-heading-2">Menu</h2>
              <ul class="list-unstyled">
                <li><a href="/Product" class="py-2 d-block">Mua sắm</a></li>
                <li><a href="/Posts" class="py-2 d-block">Bài viết</a></li>
                <li><a href="/News" class="py-2 d-block">Tin tức</a></li>
                <li><a href="/Contact" class="py-2 d-block">Liên hệ</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
             <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Hỗ trợ</h2>
              <div class="d-flex">
                  <ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
                    <li><a href="/tin-tuc/23" class="py-2 d-block">Thông tin vận chuyển</a></li>
                    <li><a href="/tin-tuc/20" class="py-2 d-block">Trả &amp; đổi hàng</a></li>
                    <li><a href="/tin-tuc/22" class="py-2 d-block">Thành viên</a></li>
                    <li><a href="/tin-tuc/25" class="py-2 d-block">Chính sách bảo mật</a></li>
                  </ul>
                  <ul class="list-unstyled">
                    <li><a href="/tin-tuc/26" class="py-2 d-block">Chính sách khiếu nại</a></li>
                    <li><a href="/Contact" class="py-2 d-block">Liên hệ</a></li>
                  </ul>
                </div>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
                <h2 class="ftco-heading-2">Bạn có thắc mắc?</h2>
                <div class="block-23 mb-3">
                  <ul>
                    <li><span class="icon icon-map-marker"></span><span class="text">phường Khương Thượng, quận Đống Đa, thành phố Hà Nội</span></li>
                    <li><a href="#"><span class="icon icon-phone"></span><span class="text">070.222.6541</span></a></li>
                    <li><a href="#"><span class="icon icon-envelope"></span><span class="text">tranvantam24003@gmail.com</span></a></li>
                  </ul>
                </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">

            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
               This template is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="#" target="_blank">Tran Duc Thang</a>
                          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
             </p>
          </div>
        </div>
      </div>
    </footer>

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

  <!--Tin nhắn live chat-->
  <style>
    keyframes shake {
        0% { transform: translateX(0); }
        25% { transform: translateX(-5px); }
        50% { transform: translateX(5px); }
        75% { transform: translateX(-3px); }
        100% { transform: translateX(3px); }
    }
</style>
    <div id="chatbox-icon" style="position: fixed; bottom: 20px; right: 20px; cursor: pointer; animation: shake 5s infinite;">
        <img src="~/TemplateMain/images/live-chat.png" alt="Chat Icon" width="80" height="80">
    </div>

    <div id="chatbox" style="display: none; position: fixed; bottom: 20px; right: 20px; width: 500px; height: auto; background-color: #ffffff; border: 1px solid #cccccc; overflow: auto; padding: 10px;">
        <div class="container" style="background-color: #f8f9fa;
        border: 1px solid #ced4da;
        border-radius: 5px;
        padding: 50px 10px 10px;
        max-width: 500px;
        position: relative;">
            <button id="closeButton" style="position: absolute; top: 0; right: 0;">X</button>
            <div class="row p-1">
                <div class="col-4">Khách hàng:</div>
                <div class="col-8">
                    <input type="text" id="userInput" style="width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-bottom: 10px;" />
                </div>
            </div>
            <div class="row p-1">
                <div class="col-4">Tin nhắn:</div>
                <div class="col-8">
                    <input type="text" class="w-100" id="messageInput" style="width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-bottom: 10px;" />
                </div>
            </div>
            <div class="row p-1">
                <div class="col-6 text-end">
                    <input type="button" id="sendButton" value="Gửi" style="width: 50%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-bottom: 10px;
    background-color: #007bff;
        color: white;
        border: none;
        cursor: pointer;" />
                </div>
            </div>
            <div class="row p-1">
                <div class="col-12">
                    <hr style="border-top: 1px solid #ced4da;" />
                </div>
            </div>
            <div class="row p-1">
                <div class="col-12">
                    <ul id="messagesList" style="list-style-type: none;
        padding: 0;overflow-y: auto;max-height: 100px;"></ul>
                </div>
            </div>
        </div>
    </div>
    <script>
        // Thêm event listener để hiển thị chatbox khi bấm vào chatbox-icon
        document.getElementById("chatbox-icon").addEventListener("click", function () {
            document.getElementById("chatbox").style.display = "block";
            document.getElementById("chatbox-icon").style.display = "none";
        });

        document.getElementById("closeButton").addEventListener("click", function () {
            document.getElementById("chatbox").style.display = "none";
            document.getElementById("chatbox-icon").style.display = "block";
        });

        document.getElementById("userInput").addEventListener("blur", function () {
            document.getElementById("userInput").setAttribute("readonly", "true");
        });
     </script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/lib/microsoft/chat.js"></script>
    <!--Tin nhắn live chat kết thúc-->

     <!--JS của template-->
    <script src="~/TemplateMain/js/jquery.min.js"></script>
    <script src="~/TemplateMain/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/TemplateMain/js/popper.min.js"></script>
    <script src="~/TemplateMain/js/bootstrap.min.js"></script>
    <script src="~/TemplateMain/js/jquery.easing.1.3.js"></script>
    <script src="~/TemplateMain/js/jquery.waypoints.min.js"></script>
    <script src="~/TemplateMain/js/jquery.stellar.min.js"></script>
    <script src="~/TemplateMain/js/owl.carousel.min.js"></script>
    <script src="~/TemplateMain/js/jquery.magnific-popup.min.js"></script>
    <script src="~/TemplateMain/js/aos.js"></script>
    <script src="~/TemplateMain/js/jquery.animateNumber.min.js"></script>
    <script src="~/TemplateMain/js/bootstrap-datepicker.js"></script>
    <script src="~/TemplateMain/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="~/TemplateMain/js/google-map.js"></script>
    <script src="~/TemplateMain/js/main.js"></script>
    <!--Hết JS của template-->
    @* @await RenderSectionAsync("Scripts", required: false) *@

    

    @RenderSection("Scripts", required: false)
  </body>
</html>
